.rectangle {
  /* width: 200px; */
  height: 100%;
  background-color: #333;
  /* padding: 20px; */
  width: 0px;
  /* box-sizing: border-box; */
  /* transition: all 0.3s ease-in-out; */
  transition: width 0.3s ease-in-out;
}

.sideMenu {
  position: absolute;
  height: 100%;
  background-color: #333;
  padding: 20px;
  width: 200px - 40px;
  /* box-sizing: border-box; */
  /* transform: translateX(0); */
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sideMenuOpen {
  transform: translateX(0);
}

.sideMenuClose {
}

.open {
  width: 200px;
}

.closed {
}
.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 7px;
  color: #fff; /* add hover with animation */
  /* background-color: #444; */

  &:hover {
    background-color: #444;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .iconContainer {
    margin-right: 10px;
    .icon {
      margin-right: 0px;
      width: 24px;
      height: 24px;
    }
  }

  .text {
    font-size: 18px;
    color: #ddd;
  }
}
.highlighted {
  background: #913737;
}
